<div class="bannerNoticias">
    <p>Noticias</p>
    <div class="noticias">
        <h4>Costa Rica en el puesto #13 de FIFA</h4>
        <p>Est porta ac magna lundium? Amet eros. Lorem cum ut auctor vel integer mus tortor, adipiscing platea penatibus, in placerat, lectus adipiscing! Ultrices scelerisque adipiscing parturient!</p>
    </div>
    <div class="noticias">
        <h4>Nuevo ASP.NET 5</h4>
        <p>Est porta ac magna lundium? Amet eros. Lorem cum ut auctor vel integer mus tortor, adipiscing platea penatibus, in placerat, lectus adipiscing! Ultrices scelerisque adipiscing parturient!</p>
    </div>
    <div class="noticias">
        <h4>¡Hololens está aquí!</h4>
        <p>Est porta ac magna lundium? Amet eros. Lorem cum ut auctor vel integer mus tortor, adipiscing platea penatibus, in placerat, lectus adipiscing! Ultrices scelerisque adipiscing parturient!</p>
    </div>
    <div class="clearer"></div>
</div>
<style>
    .bannerNoticias {
        border: solid 1px #aaa;
        border-radius: 10px;
        padding: 12px;
    }

        .bannerNoticias .noticias {
            display: inline-block;
            float: left;
            max-width: 200px;
            font-size: 12px;
        }

    .clearer {
        clear: both;
    }
</style>
